*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 300vh;
}

.banner{
    position: fixed;
    display: flex;
    height: 400px;
    width: 150%;
    background: black;
    background-image: url(./assets/fondo1.png);
    background-repeat: no-repeat;
    background-size: 150%;
    animation: movimiento 20s infinite linear alternate;
    z-index: -10000;
}

.vacio{
    width: 100%;
    height: 400px;
}

.second-body{
    background: white;
    width: 100%;
    height: 300vh;
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
    background: rgba(255, 255, 255, 0.4);
    border-bottom: gray;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

header .logo{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 12;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.6s;
    padding-top: 10px;
}

header ul{
    display: flex;
    text-align: center;
    list-style: none;

}

header ul li{

    padding: 12px 12px;
}

header ul li a{
    color: black;
    text-decoration: none;
}

header.sticky{
    background: white;
}
header ul li:hover{
    background: rgba(0, 0, 0, 0.2);
}

.home{
    width: 90%;
    max-width: 900px; 
    margin: 0 auto;
}

.home h2{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 12;
    letter-spacing: 2px;
    font-size: 30px;
    transition: 0.6s;
    padding: 10px 0 0 50px;
    border-bottom: 2px rgb(202, 196, 196) solid;
}