*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 135vh;
}

.banner{
    position: fixed;
    display: flex;
    height: 400px;
    width: 150%;
    background: black;
    background-image: url(./assets/fondo1.png);
    background-repeat: no-repeat;
    background-size: 150%;
    animation: movimiento 20s infinite linear alternate;
    z-index: -10000;
}

.vacio{
    width: 100%;
    height: 400px;
}

.second-body{
    background: white;
    width: 100%;
    height: 130vh;
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
    background: rgba(255, 255, 255, 0.4);
    border-bottom: gray;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

header .logo{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 12;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.6s;
    padding-top: 10px;
}

.navLinks{
    display: flex;
    text-align: center;
    list-style: none;

}

.navLinks li{

    padding: 12px 12px;
}

.navLinks li a{
    color: black;
    text-decoration: none;
}

header.sticky{
    background: white;
}
.navLinks li:hover{
    background: rgba(0, 0, 0, 0.2);
}

.home{
    width: 90%;
    max-width: 900px; 
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home h2{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 12;
    letter-spacing: 2px;
    font-size: 30px;
    transition: 0.6s;
    padding: 10px 0 0 50px;
    border-bottom: 2px rgb(202, 196, 196) solid;
    
}

.home-div section{
    display: inline-block;
    margin-top: 10px;
    margin-left: 100px;
    border: black 2px solid;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 70px 50px;
    transition: 0.3s;
}

.home-div section:hover{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 80px 60px;
    transition: 0.3s;
    cursor: pointer;
}

.home-div section a img{
    width: 150px;
    height: 150px;
}



.checkbtn{
    font-size: 20px;
    color: black;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 858px){
    .logo{
        font-size: 18px;
    }
    .navLinks{
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.4);
        top: 30px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .checkbtn{
        display: block;
    }

    #check:checked ~ ul{
        left: 0;
    }
}


.links{
    text-decoration: none;
}

.lists{
    height: 300px;
    box-shadow: 3px 3px 3px 3px  rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}

footer{
    background: rgba(0, 0, 0, 0.1);
    height: 150px;
    width: 100%;
}

#lista li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

#lista i{
    font-size: 20px;
    color: black;
}