*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 300vh;
}

.second-body{
    margin-top: 50px;
    background: white;
    width: 100%;
    height: 300vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;

    background: white;
    border-bottom: gray;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

header .logo{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 12;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.6s;
    padding-top: 10px;
}

.navLinks{
    display: flex;
    text-align: center;
    list-style: none;

}

.navLinks li{

    padding: 12px 12px;
}

.navLinks li a{
    color: black;
    text-decoration: none;
}

header.sticky{
    background: white;
}
.navLinks li:hover{
    background: rgba(0, 0, 0, 0.2);
}


.checkbtn{
    font-size: 20px;
    color: black;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 858px){
    .logo{
        font-size: 18px;
    }
    .navLinks{
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.4);
        top: 30px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    .checkbtn{
        display: block;
    }

    #check:checked ~ ul{
        left: 0;
    }
}